
/* #patient_dashboard{
    padding: 40px 0px;
} */

#patient_dashboard .left_patient_info{
    background-image: url('/public/bannerImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 130px;
}
#patient_dashboard .left_patient_info .pet_img{
    width: 120px;
    height: 120px;
    margin-left: 140px;
    margin-top: 30px;
}
#patient_dashboard .left_patient_info .pet_img img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}
#patient_dashboard .left_patient_info .pet_quality{
    margin-top: 90px !important;
    margin-left: 70px;
}
#patient_dashboard .left_patient_info .pet_quality table thead th{
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    color: white;
}
#patient_dashboard .left_patient_info .pet_quality table tbody th {
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    color: white;
}
#patient_dashboard .left_patient_info .pet_quality table tbody tr td {
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    color: white;
}
#patient_dashboard .history{
    background-color: rgb(210, 233, 227);
    padding: 40px 100px;
}
#patient_dashboard .history h2{
    color: #008081;
    margin-top: 20px;
}
#patient_dashboard .history .history_box .card{
    background-color: #008081;
    border: none;
}
#patient_dashboard .history .history_box .card img{
    width: 100%;
    /* height: 260px; */
    object-fit: cover;
}
#patient_dashboard .history .history_box .card .card-body{
    background-color: #008081;
}
#patient_dashboard .history .history_box .card .card-body p{
    margin-bottom: 4px;
}
#patient_dashboard .history .history_box .card .card-body table thead th{
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    color: white;
}
#patient_dashboard .history .history_box .card .card-body table tbody th{
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    color: white;
}
#patient_dashboard .history .history_box .card .card-body table tbody tr td{
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    color: white;
}