

#footer_widget{
    background-color: #008081;
    padding: 50px 0px;
}
#footer_widget h3{
    font-size: 28px;
    text-transform: capitalize;
    color: white;
    margin-bottom: 20px;
}
#footer_widget ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#footer_widget ul li{
    padding: 8px 0px;
    color: rgb(206, 202, 202);
    text-transform: capitalize;
}
#footer_widget ul li a{
    text-decoration: none;
    color: rgb(206, 202, 202);
    text-transform: capitalize;
    transition: all .3s linear;
}
#footer_widget ul li a:hover{
    color: white;
}
#footer_widget button{
    background-color: #005a5a;
    border: none;
    padding: 8px 12px;
    letter-spacing: 1px;
}
footer{
    background-color: #004444;
    padding: 20px 0px;
}
footer nav a{
    padding: 0px 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.658);
    text-transform: capitalize;
    transition: all .3s linear;
}
footer nav a:hover{
    color: white;
}
footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
footer ul li{
    padding: 0px 16px;
}
footer ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.658);
    text-transform: capitalize;
    transition: all .3s linear;
}
footer ul li  a:hover{
    color: white;
}