.error-container{
    text-align: center;
    height: 100vh;
    display:grid;
    align-content: center;
}
.error-button{
    padding: 18px 20px;
    border:8px;
    border-radius: 12px;
    background-color: #40c7ac;
}
.error-button:hover{
    opacity: 50%;
} 
.error-img-wrapper{
    margin: 40px 0px;
}